@import '../lib/utils-generator';

@include test-module('Generate typography utility classes') {
  @include test('Generate typography utility classes [mixin]') {
    @include assert('Given a map of identifires and properties, generate ' +
        'a list of typography utility classes.') {
      @include output {
        $typography-style: (
          centi: (font-size: 14, leading: 18, weight: 400),
          milli: (font-size: 12, leading: 18, weight: 700, tracking: -125)
        );

        @include get-type($typography-style);
      }

      @include expect {
        .t-centi {
          font-size: 0.875rem;
          line-height: 1.28571;
          font-weight: 400;
        }

        .t-milli {
          font-size: 0.75rem;
          line-height: 1.5;
          font-weight: 700;
          letter-spacing: -0.125em;
        }
      }
    }
  }
}

@include test-module('Fetch Style from typograpy map') {
  @include test('Fetch style from map based on key [mixin]') {
    @include assert('Give a map and a key, return the styling the key') {
      @include output {
        $typography-style: (
          peta: (font-size: 72, leading: 90, weight: 700),
          centi: (font-size: 14, leading: 18, weight: 400),
          milli: (font-size: 12, leading: 18, weight: 700, tracking: -125)
        );

        .header {
          @include get-style(peta, $typography-style);
        }
      }

      @include expect {
        .header {
          font-size: 4.5rem;
          line-height: 1.25;
          font-weight: 700;
        }
      }
    }
  }

  @include test('Fetch style from map based on key with tracking [mixin]') {
    @include assert('Give a map that includes tracking and a key, return the styling the key') {
      @include output {
        $typography-style: (
          peta: (font-size: 72, leading: 90, weight: 700),
          centi: (font-size: 14, leading: 18, weight: 400),
          milli: (font-size: 12, leading: 18, weight: 700, tracking: -125)
        );

        .header {
          @include get-style(milli, $typography-style);
        }
      }

      @include expect {
        .header {
          font-size: 0.75rem;
          line-height: 1.5;
          font-weight: 700;
          letter-spacing: -0.125em;
        }
      }
    }
  }
}
