@import '../../lib/sizing';

@include test-module('Sizing Functions with default $base-font-size') {
  @include test('Given 16, rem conversion returns 1rem [function]') {
    $test: rem(16);
    $expect: 1rem;
    @include assert-equal($test, $expect, 'returns value of 1rem');
  }

  @include test('Given 12, rem conversion returns 0.75rem [function]') {
    $test: rem(12);
    $expect: 0.75rem;
    @include assert-equal($test, $expect, 'returns value of 0.75rem');
  }
}
